[submodule "third_party/sparkinfer"]
	path = third_party/sparkinfer
	url = https://github.com/tpurtell/sparkinfer-glmrt.git
[submodule "third_party/xgrammar"]
	path = third_party/xgrammar
	url = https://github.com/mlc-ai/xgrammar.git
[submodule "third_party/gptqmodel"]
	path = third_party/gptqmodel
	url = https://github.com/tpurtell/GPTQModel.git
